.App {
  padding: 40px;
  border: black 1px solid;
  max-width: 900px;
}

progress {
  width: 100%;
}

.field-full {
  display: flex;
  margin-top: 6px;
}

.field-justify {
  display: flex;
  margin-top: 6px;
  justify-content: space-between;
}

.fullwidth {
  width: 100%;
}

.buttonpanel {
  display: flex;
  margin-top: 24px;
  justify-content: center;
}

.radio {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1em;
}

label {
  padding-right: 6px;
}

input {
  height: 1.5em;
}

button {
  margin: 9px;
  padding: 6px;
  width: 60px;
}